.DS_Store
node_modules
npm-debug.log
*-result.json

*.png

*.sublime-*
!*.sublime-project

merged-specs/

japp_mismatch.html
japp_match.html
japp_log.txt

japp_config.json
japp_result.json
japp_result.html
masterR*.*

index.html
*result*.html
*result*.json

# - Prevent temporary files in runner/ to commit
gui-visualizer/runner/*
